/* ══════════════════════════════════════════════════════
   SCREEN 3 — børnene i skolen
   ══════════════════════════════════════════════════════ */

.s4_textBlock {
  position: absolute;
  top: 10dvh;
  left: 40dvw;
  z-index: 4;
}

.s4_title {
  font-size: 5rem;
  line-height: 0.9;
  margin-bottom: 9rem;
  margin-left: 4rem;
}

.s4_body {
  font-size: 2.2rem;
  line-height: 1.35;
  color: var(--apple-juice);
  margin-bottom: 4rem;
}

.s4_list {
  list-style: none;
  padding: 0;
  margin: 0;

  font-family: var(--font-heading);
  color: var(--apple-juice);
}

.s4_list li {
  font-size: 4.8rem;
  line-height: 0.95;
  font-weight: 900;
  transform-origin: bottom center;
}

.s4_holgerLomme {
  position: absolute;
  left: 0;
  top: 0;
  height: 90dvh;
  width: auto;
  z-index: 3;
  object-fit: contain;
}

/* stjerne-placeringer for screen 1 */
.s4_s2 {
  width: 3dvh;
  left: 33%;
  top: 35%;
  animation-duration: 6s;
  animation-delay: -1s;
}
.s4_s3 {
  width: 3dvh;
  left: 31%;
  top: 38%;
  animation-duration: 6s;
  animation-delay: -2s;
  rotate: 180deg;
}

.s4_s4 {
  width: 3dvh;
  left: 33%;
  top: 42%;
  animation-duration: 6s;
  animation-delay: -1s;
  rotate: 0deg;
}
.starImg {
  width: 100%;
  height: auto;
  display: block;
  animation-duration: 6s;
  animation-delay: 0s;
}
