.screen {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--color-bg);
  color: var(--autumn-orange);
}

.title {
  position: relative;
  z-index: 5;

  text-align: center;
  font-size: 4.5rem;
  font-family: var(--font-body);
  color: var(--apple-juice);
  margin-top: 6rem;
}

.familyList {
  position: relative;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;

  width: fit-content;
  margin-inline: auto;
  z-index: 5;
  gap: 2.4rem;
}

.person {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.person img {
  width: 8rem;
  height: 8rem;
}

.person h2 {
  font-size: 3rem;
  line-height: 0.9;
  margin: 0;
  letter-spacing: -3px;
  font-weight: 900;
}

.person h3 {
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}

.person p {
  font-size: 1.2rem;
  color: var(--autumn-orange);
  margin-top: 0.6rem;
}

.swipeText {
  position: relative;
  z-index: 5;

  margin-top: 6rem;
  display: flex;
  flex-direction: row;

  width: fit-content;
  margin-inline: auto;

  gap: 2.4rem;
}

.swipeText p {
  font-size: 2rem;
  line-height: 1.35;
  letter-spacing: 0.08em;
  margin: 0;
  color: var(--autumn-orange);
}

.swipeText span {
  font-size: 5rem;
}

/* stjerne-placeringer for screen 1 */
.s1_s8 {
  width: 4dvh;
  left: 16%;
  top: 30%;
  animation-duration: 6s;
  animation-delay: -1s;
}

.s1_s2 {
  width: 20dvh;
  right: -6%;
  top: 4%;
  animation-duration: 6s;
  animation-delay: -2.5s;
}

.s1_s13 {
  width: 7dvh;
  right: 10%;
  top: 48%;
  animation-duration: 6s;
  animation-delay: -0.5s;
}

.s1_s16 {
  width: 6dvh;
  left: 15%;
  bottom: 22%;
  animation-duration: 6s;
  animation-delay: -3s;
}

.s1_s4 {
  width: 8.5dvh;
  left: -3%;
  bottom: 15%;
  animation-duration: 6s;
  animation-delay: -4s;
}
.starImg {
  width: 100%;
  height: auto;
  display: block;
  animation-duration: 6s;
  animation-delay: 0s;
}
