/* ══════════════════════════════════════════════════════
   SCREEN 3 — børnene i skolen
   ══════════════════════════════════════════════════════ */

.s5_textBlock {
  position: absolute;
  top: 6dvh;
  right: 8dvw;
  width: 55dvw;
  z-index: 4;
}

.s5_title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 7rem;
  line-height: 0.8;
  text-align: center;
}

.s5_titleBig {
  font-family: var(--font-heading);
  font-size: 7rem;
  color: var(--autumn-orange);
}

.s5_titleSmall {
  font-family: var(--font-heading);
  font-size: 3.8rem;
  color: var(--autumn-orange);
}
.s5_body {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
}

.s5_JytteKokken {
  position: absolute;
  height: 100dvh;
  left: -5%;
  bottom: 0;
}
/* stjerne-placeringer for screen 1 */
.s5_s1 {
  width: 4.5dvh;
  left: 6%;
  top: 18%;
  animation-duration: 6s;
  animation-delay: -1s;
}

.s5_s5 {
  width: 14.5dvh;
  right: 6%;
  top: 10%;
  animation-duration: 6s;
  animation-delay: -1s;
}

.s5_s8 {
  width: 3dvh;
  left: 38%;
  top: 18%;
  animation-duration: 6s;
  animation-delay: -2.5s;
}

.s5_s11 {
  width: 7dvh;
  left: 52%;
  top: 18%;
  animation-duration: 6s;
  animation-delay: -0.5s;
}

.s5_s12 {
  width: 15dvh;
  left: 18%;
  top: 5%;
  animation-duration: 6s;
  animation-delay: -3s;
}

.s5_s14 {
  width: 20dvh;
  left: 50%;
  top: -5%;
  animation-duration: 6s;
  animation-delay: -4s;
}
