/* ══════════════════════════════════════════════════════
   SCREEN 3 — børnene i skolen
   ══════════════════════════════════════════════════════ */

.s5_textBlock {
  position: absolute;
  top: 8dvh;
  right: 6dvw;
  width: 75dvw;
  z-index: 4;
}

.s5_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:6rem;
  margin-bottom: 7rem;
  line-height: 0.8;
  text-align: center;
}

.s5_titleBig {
  font-family: var(--font-heading);
  font-size: 6.3rem;
  color: var(--autumn-orange);
}

.s5_titleSmall {
  font-family: var(--font-heading);
  font-size: 3.3rem;
  color: var(--autumn-orange);
}
.s5_body {
  font-size: 2.5rem;
  margin-left: 16rem;
}

.s5_JytteKokken {
  position: absolute;
  height: 100dvh;
  left: -5%;
  bottom: 0;
}
/* stjerne-placeringer for screen 1 */
.s5_s7 {
  width: 9.5dvh;
  right: 14%;
  bottom: 13%;
  animation-duration: 6s;
  animation-delay: -3s;
}

.s5_s9 {
  width: 5.5dvh;
  right: 6%;
  top: 23%;
  animation-duration: 6s;
  animation-delay: -1s;
}

.s5_s8 {
  width: 3dvh;
  right: 13%;
  top: 22%;
  animation-duration: 6s;
  animation-delay: -2.5s;
}

.s5_s3 {
  width: 20dvh;
  right: 18%;
  bottom: -5%;
  animation-duration: 3.5s;
  animation-delay: -0.5s;
  rotate: 26deg;
}

.s5_s2 {
  width: 10dvh;
  right: 32%;
  bottom: 14%;
  animation-duration: 3s;
  animation-delay: 0s;
}


