/* ══════════════════════════════════════════════════════
   SCREEN 3 — børnene i skolen
   ══════════════════════════════════════════════════════ */

.s3_textBlock {
  position: absolute;
  bottom: 3dvh;
  left: 3dvw;
  z-index: 2;
}

.s3_title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.s3_body {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.s3_born {
  position:absolute;
  width: 70dvh;
  left: -5%;
  bottom: 10%;
}

/* stjerne-placeringer for screen 1 */
.s3_s1 {
  width: 4.5dvh;
  left: 6%;
  top: 18%;
  animation-duration: 6s;
  animation-delay: -1s;
}

.s3_s8 {
  width: 3dvh;
  left: 38%;
  top: 18%;
  animation-duration: 6s;
  animation-delay: -2.5s;
}

.s3_s11 {
  width: 7dvh;
  left: 52%;
  top: 18%;
  animation-duration: 6s;
  animation-delay: -0.5s;
}

.s3_s12 {
  width: 15dvh;
  left: 18%;
  top: 5%;
  animation-duration: 6s;
  animation-delay: -3s;
}


.s3_s14 {
  width: 4dvh;
  left: 42%;
  bottom: 14%;
  animation-duration: 6s;
  animation-delay: -4s;
}