.screen {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--color-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 68dvw;
  min-height: 48dvh;
  background-color: #f2e6d2;
  border-radius: 1.2rem;
  padding: 2rem;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.characterImage {
  width: 55dvw;
  margin-bottom: 1.5rem;
}

.cardText {
  text-align: center;
}

.cardText h1 {
  font-size: 5.2rem;
}

.cardText p {
  font-size: 2rem;
  color: var(--apple-juice);
}

.introText {
  width: 78%;
  text-align: center;
  font-size: 2rem;
  z-index: 3;
  margin-top: 3rem;
}

.swipeText {
  position: absolute;
  bottom: 6%;
  text-align: center;
  z-index: 3;
}

.swipeText p {
  font-size: 1.7rem;
}

.swipeText span {
  display: block;
  margin-top: 0.2rem;
  font-size: 3rem;
  color: var(--apple-juice);
}
