.screen {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--color-bg);
}

.title {
  position: absolute;
  top: 8%;
  left: 8%;
  font-size: 5.5rem;
}

.textBlock {
  position: absolute;
  top: 31%;
  left: 9%;
  z-index: 3;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.hanneMother {
  position: absolute;
  right: -10%;
  bottom: -15%;
  width: 82%;
  z-index: 1;
}

/* stjerne-placeringer for screen 1 */

.s3_s5 {
  width: 18dvh;
  left: 10%;
  bottom: -5%;
  animation-duration: 6s;
  animation-delay: -1s;
}

.s3_s8 {
  width: 3dvh;
  right: 15%;
  top: 10%;
  animation-duration: 6s;
  animation-delay: -2.5s;
}

.s3_s11 {
  width: 7dvh;
  right: 22%;
  top: 20%;
  animation-duration: 6s;
  animation-delay: -0.5s;
}

.s3_s12 {
  width: 15dvh;
  right: 3%;
  top: 30%;
  animation-duration: 6s;
  animation-delay: -3s;
}

.starImg {
  width: 100%;
  height: auto;
  display: block;
  animation-duration: 6s;
  animation-delay: 0s;
}
