.screen {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--color-bg);
}

.title {
  position: absolute;
  top: 8%;
  left: 12%;
  font-size: 6.5rem;
}

.textBlock {
  position: absolute;
  top: 23%;
  left: 12%;
  z-index: 3;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.hannePlaying {
  position: absolute;
  right: 10%;
  bottom: 1%;
  width: 58%;
  z-index: 1;
}
.s2_s1 {
  width: 9dvh;
  left: -3%;
  top: 30%;
  animation-duration: 6s;
  animation-delay: -2.5s;
}
.s2_s2 {
  width: 9dvh;
  right: 10%;
  top: 10%;
  animation-duration: 6s;
  animation-delay: -2.5s;
  rotate: 180deg;
}
.s2_s16 {
  width: 5dvh;
  right: 20%;
  top: 5%;
  animation-duration: 6s;
  animation-delay: -2.5s;
}

.starImg {
  width: 100%;
  height: auto;
  display: block;
  animation-duration: 6s;
  animation-delay: 0s;
}
