.screen {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--color-bg);
}

.title {
  position: absolute;
  top: 8%;
  left: 8%;
  font-size: 4.5rem;
  z-index: 5;
}

.textBlock {
  position: absolute;
  top: 16%;
  left: 8%;
  z-index: 5;

  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.textBlock p {
  font-size: 2rem;
}

.jytteSitting {
  position: absolute;
  left: -8%;
  bottom: -2%;
  width: 68%;
  z-index: 3;
}

.jytteStanding {
  position: absolute;
  right: -3%;
  bottom: 8%;
  width: 43%;
  z-index: 4;
}

/* fælles styling for baggrundsstjerner */
.bg {
  position: absolute;
  opacity: 0.4;
  filter: grayscale(100%) brightness(0.6);
  pointer-events: none;
  z-index: 1;
}

/* stjerne-placeringer for Jytte detail 2 */
.s5_s7 {
  width: 9.5dvh;
  right: 14%;
  bottom: 13%;
  animation-duration: 6s;
  animation-delay: -3s;
}

.s5_s9 {
  width: 5.5dvh;
  right: 6%;
  top: 23%;
  animation-duration: 6s;
  animation-delay: -1s;
}

.s5_s8 {
  width: 3dvh;
  right: 13%;
  top: 22%;
  animation-duration: 6s;
  animation-delay: -2.5s;
}

.s5_s3 {
  width: 7dvh;
  left: 28%;
  bottom: 52%;
  animation-duration: 3s;
  animation-delay: 0s;
}

.s5_s14 {
  width: 19dvh;
  left: 25%;
  bottom: 35%;
  animation-duration: 3s;
  animation-delay: 0s;
  rotate: 180deg;
}
.starImg {
  width: 100%;
  height: auto;
  display: block;
  animation-duration: 6s;
  animation-delay: 0s;
}
